
<div id="app" class="app" ng-app="RockPaperScissors">

  <div ng-controller="AppCtrl as app">
    <div class ="container">
      <div class ="row">
        <h1 id="rps">Rock Paper Scissors</h1>
      </div>

      <div class ="row no-gutter">
        <div class ="col-md-6" id=player_1>
          <h2>
            Player 1
            <input type="text" ng-model="game.player1_name"></input>

          </h2>
          <h4>Keyboard Controls: Rock A, Paper S, Scissors D</h4>
        </div>
        <div class ="col-md-6" id=player_2>
          <h2>
            Player 2
            <input type="text" ng-model="game.player2_name"></input>
          </h2>
          <h4>Keyboard Controls: Rock J, Paper K, Scissors L</h4>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3 col-md-offset-5'>
        <button ng-click="saveGame()" class='btn btn-primary'>Start Game</button>
        <button ng-click="resetGame()" class='btn btn-primary'>Reset Game</button>
        <h1>{{counter}}</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2 col-md-offset-5'>
        <h3>Winner is: {{game.winner}}</h3>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-12">
        <h3>Previous Games</h3>
      </div>
      <div ng-repeat='oldgame in games'>
        <div class='col-md-4'id='p1_score'>
          {{oldgame.player1Name}}: {{oldgame.player1Move}}
        </div>
        <div class='col-md-4'id='p2_score'>
          {{oldgame.player2Name}}: {{oldgame.player2Move}}
        </div>
        <div class='col-md-4'id='winner'>
          {{oldgame.winner}}
        </div>
      </div>

    </div>

  </div>
</div>
