// Place all the styles related to the RockPaperScissors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#rps{
  text-align: center;
}

#player_1{
  height: 100%;
  text-align: center;
}

#player_2{
  height:100%;
  text-align: center;
}
