
<div class="app" ng-app="RockPaperScissors">

  <div ng-controller="AppCtrl as app">
      <h1>{{app.heading}}</h1>


      <h3>{{app.path}}</h3>
          <input type="text" ng-model="app.txt">
          <span>{{app.txt}}</span>

      <p>
        {{app.awesome}}
      </p>

      <awesome></awesome>

  </div>
</div>
